@mixin desktop-adp {
    @media (max-width: 1200px) {
        @content;
    }
}
@mixin tablet-landscape-adp {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin tablet-adp {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin phone-adp {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin title {
    font-size: 48px;
    color: var(--text-color);
    font-weight: 700;
    @include desktop-adp {
        font-size: 40px;
    }
    @include tablet-landscape-adp {
        font-size: 34px;
    }
    @include phone-adp {
        font-size: 26px;
      }
    span {
        transition: all 1s;
        color: var(--primary-color);
        text-shadow: 5px 5px 20px var(--hover-color);
    }
}
